#lu{
    display: flex;
    height: 40rem;
}
.mu{
    color: #000000;
    background-color: rgba(240, 236, 236, 0.993);
    border-radius: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;

}
.h1{
    margin-left: 5rem;
}
.img{
    border-radius: 2rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

button{

    color: rgb(255, 254, 254);
    border-radius: 20px;
    background-color:rgb(85, 85, 85);
    padding: 1.1rem;
    margin-left: 9rem;
    font-size: 1.1rem;

    
    
}